<div class="span6 say">
  <div class="well">
    <%= image_tag say[:user][:avatar], class: 'avatar' %>
    <strong><%= say[:user][:name] %></strong>
    <hr>
    <p><%= say[:content] %></p>
  </div>
</div>