<div id="intro-page">
  <div class="navbar container">
    <div class="row">
      <h2 id="site-logo" class="span2">EasyCourse</h2>
      <ul id="nav-items">
        <li class="nav-action span1"><a href="">登入</a></li>
        <li class="nav-action span1"><strong><a href="">注册</a><strong></li>
      </ul>
    </div>
    <!-- <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">EasyCourse</a>
        <div class="nav-collapse pull-right">
          <ul class="nav">
            <li class="active"><a href="#">首页</a></li>
            <li><a href="#about">关于我们</a></li>
            <li><a class="btn-primary" href="/sessions/login">登入</a></li>
          </ul>
        </div>
      </div>
    </div> -->
  </div>

  <div class="hero-unit container">
    <!-- <div class="hero-unit">
      <h1>EasyCourse
        <p><small>
          让上课变得更简单
        </small></p>
      </h1>
      <p><a class="btn btn-primary btn-large">现在登入 »</a></p>
    </div> -->
  </div>

    <!-- Example row of columns -->
    <div class="row">
      <div class="span3 well intro">
        <h2>管理课程</h2>
        <p>
         在这里，你可以更方便的管理每一节课<br><br><strong>“什么时候上课？要交什么作业？”</strong>
         <br><br>
         我们来告诉你<br>

       </p>
     </div>
     <div class="span3 well intro">
      <h2>同学交流</h2>
      <p>
       你还在厌烦<strong>QQ群的吵闹</strong>却又担心<strong>错过什么通知</stong>么？
       <br><br>
       在这里，我们只说最重要的
     </p>

   </div>
   <div class="span3 well intro">
    <h2>资源共享</h2>
    <p>
      有作业答案了！有作业模板了！有考试资料了！有往年试卷了！<br><br>
      你还不知道？<br><br>
      来这里找吧
    </p>
  </div>
</div>

<hr>

</div>

</div>