<div id="intro-page">
  <div class="navbar container">
    <div class="row">
      <h2 id="site-logo" class="span2">EasyCourse</h2>
      <ul id="nav-items">
        <a href="/users/sign_in"><li class="nav-action span1">登入</li></a>
        <a href="/users/sign_up"><li class="nav-action span1"><strong>注册</strong></li></a>
      </ul>
    </div>
    <!-- <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">EasyCourse</a>
        <div class="nav-collapse pull-right">
          <ul class="nav">
            <li class="active"><a href="#">首页</a></li>
            <li><a href="#about">关于我们</a></li>
            <li><a class="btn-primary" href="/sessions/login">登入</a></li>
          </ul>
        </div>
      </div>
    </div> -->
  </div>

  <article class="container">
    <div id="landing">
      <div class="container">
        <header class="hero-unit">
          <h1>上课</h1>
          <h3>也可以变得更简单</h3>
          <p>
            <a href="/users/sign_up" class="btn btn-success">注册</a>
          </p>
        </header>
      </div>
    </div>
  </article>

  <div class="container" id="features">
    <div class="row">
      <div class="span4 feature">
        <%= image_tag '/assets/icon-one.png', class: 'feature-fig' %>
        <h3>课程交流</h3>
        <p>在这里可以和直接从教学信息服务网导入课程，而不用像其他课程软件一样手动添加课程，对于课程很多的同学们，你们懂得</p>
        <a href="" class="btn-more">查看详情</a>
      </div>
      <div class="span4 feature">
        <%= image_tag '/assets/icon-one.png', class: 'feature-fig' %>
        <h3>资源共享</h3>
        <p>你的google能力够牛么？一个人不行，全班人一起呢？齐心协力一下，大作业神马的，都是浮云</p>
        <br />
        <a href="" class="btn-more">查看详情</a>
      </div>
      <div class="span4 feature">
        <%= image_tag '/assets/icon-one.png', class: 'feature-fig' %>
        <h3>团队合作</h3>
        <p>组长要布置任务？想加飞信发现组员是联通号码？囧吗？在我们这里，可以短信通知，直接添加google日历，让你们的联系更轻松</p>
        <a href="" class="btn-more">查看详情</a>
      </div>
    </div>
  </div>


  <article class="container" id="what-others-say">
    <div class="row">
      <h3 class="header">开发人员怎么说</h3>
    </div>

    <div class="container says">
      <div class="row">
        <%= render :partial => "say", :collection => @says %>
      </div>
    </div>
  </article>

  <div class="container" id="signup">
    <div class="row">
      <h3 class="header">
        现在就……      </h3>
      <a href="/users/sign_up" class="btn btn-success">注册</a>
    </div>
  </div>


  <div class="container" id="footer">
    <hr>
    <div class="row">
      <a class="span2">关于我们</a>
      <a class="span2">开发与API</a>
      <a class="span2">隐私协议</a>
      <a class="span2">联系我们</a>
      <a class="span3">Made by <em>ChicCode</em> with ❤</a>
    </div>

  </div>
</div>