// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.lh-40 {
  line-height: 40px;
}

.avatar {
  height: 40px;
  width: 40px;
}

hr.full-line {
  clear: both;
  margin-left: 20px;
}

a.action-btn {
  margin: 13px 0;
}

.file-thumbnail {
  p {
    text-align: center;

    &.caption-action {
      margin-top: -10px;
      font-size: 10px;
    }
  }
}



#intro-page {
  margin-top: -80px;

  .navbar {
    height: 86px;

    #site-logo {
      line-height: 86px;
      color: #E62611;
    }

    #nav-items {
      margin-top: 36px;
      float: right;
      .nav-action {
        height: 30px;
        width: 96px;
        border: 2px solid #ddd;
        list-style-type: none;
        text-align: center;
        line-height: 30px;
        border-radius: 4px;
        a {
          text-decoration: none;
          color: #444;
        }
      }
    }
  }

  #landing {
    background: url(/assets/home-bg-lib.jpg) center no-repeat, url(/assets/home-bg-black.png) left repeat-x;
    .hero-unit {
      box-shadow: none;
      background: none;
      height: 324px;
      padding: 55px 620px 0 0;
      margin-right: -80px;
      margin-bottom: 0;
      color: white;
      h1 {
        margin-top: 60px;
      }
      h2 {
        margin-top: 0px;
        color: white;
      }
    }
  }

  #features {
    margin-top: 20px;
    .feature {
      text-align: center;
      h3 {
        font-weight: 400;
        color: #111;
      }
      a {
        // display: block;
        background-color: #ccc;
        border-radius: 2px;
        color: #444;
        line-height: 18px;
        padding: 5px 10px;
        &:hover {
          background-color: #E62611;
          color: white;
          text-decoration: none;
        };
      }
    }
  }

  article.container {
    width: auto;
  }


  // .intro{
  //   height: 200px;
  //   width: 260px;
  // }
}