<div class="container">
	<div class="row">
		<div class="span12">
			<div class="well">

				<%= render_header '登入' %>
				<%#= render_section_header '所有文件', '上传新文件', 'plus' %>

				<%#= render :partial => "file", :collection => @files %>
				<div class="container">
					<div class="span5">
						<p>
							<input type="text" class="input-block-level" placeholder="告诉我你的用户名哦">
						</p>
						<p>
							<input type="password" class="input-block-level" placeholder="这里输密码哦">
						</p>
						<label class="checkbox">
							<input type="checkbox" value="remember-me"> 我会记住你的~
						</label>
						<p>
						<div class="span2">
						<a href="#" class="btn" data-dismiss="modal">不高兴，不登了</a>
					</div>
					<div class="span2">
						<button class="btn btn-primary" type="submit">现在就登入</button>
					</p>
				</div>
					</div> <!-- /container -->

					
				</div>
			</div>
		</div>
	</div>
</div>